<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edgr">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
<title>NSO SERVER</title>
<script type="text/javascript" src="index.html"></script>
<!-- <script type="text/javascript" src="brython.js"></script>
<script type="text/javascript" src="brython_stdlib.js"></script> -->
</head>

<body>
    <div class="menu">
        <img src="../static/image/logo.jpg" alt="Ctin">
        <ul>
            <li><a href="http://10.0.137.194:8080/login.html" target="_blank" rel="noopener noreferrer">NSO Server</a></li>
            <li>
                <a href="#">Services</a>
                <ul>
                    <li><a href="/loopback">Loopback</a></li>
                    <li><a href="/l2vpn">L2VPN</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Devices</a>
                <ul>
                    <li><a href="#">Cisco-XR</a></li>
                    <li><a href="#">Cisco-XE</a></li>
                    <li><a href="#">Jupiter</a></li>
                </ul>
            </li>
            <li><a href="/">Guide</a></li>
        </ul>
    </div>
</body>
</html>